# ---- OS ----
.DS_Store
Thumbs.db

# ---- Python ----
__pycache__/
*.pyc
.venv/
venv/
.env

# ---- Node / Angular ----
node_modules/
dist/
.angular/

# ---- Docker ----
*.log

# ---- IDE ----
.idea/
.vscode/

# ---- Build ----
coverage/
